

.message-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  .error {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
  }

  .message {
    margin-top: 100px;
  }
}


