
  h3,
  p {
    margin: 10px 0;
  }
  .stars {
    margin: 10px 20px 10px 10px;
  }
  .language {
    font-weight: 300;
  }

  .name {
    flex-grow: 1;
  }

.repo-list-item {

  .header {
    display: flex;
    flex-wrap: wrap;

    div {
      display: flex;
    }
  }

  .main {
    p {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }
}
