
  h3,
  p {
    margin: 10px 0;
  }
  .stars {
    margin: 10px;
  }

  .name {
    flex-grow: 1;
  }

.repo-list-item {

  .header {
    display: flex;

    
  }

  .main {
    p {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }
}
